<div class="panel panel-default folder-list">
    <div class="panel-heading">
        <h5 class="text-center">Folders</h5>
    </div>

    <div class="panel-body">
        <ul class="folder-name-list">
            <li class="folder-list-item" ng-repeat="folder in $ctrl.folderNames">
                <a
                        ui-sref="mailbox({folder: folder})"
                        class="folder-name"
                        ng-class="{'folder-active': $ctrl.currentFolder.toLowerCase() === folder.toLowerCase()}"
                >
                    {{folder}}
                </a>
            </li>
        </ul>

    </div>
</div>