<div class="row border-between mailbox">

    <div class="col-md-3">

        <button class="btn btn-danger">Compose</button>

        <folder-list folders="$ctrl.folders" current-folder="$ctrl.currentFolder"></folder-list>

        <user-list
                users="$ctrl.users"
                full-user-name="$ctrl.fullUserName(user)"
        ></user-list>

    </div>

    <div class="col-md-9">

        <!-- <ui-view></ui-view> -->


        <message-controls search-criteria="$ctrl.messageSearchCriteria"></message-controls>

        <messages
                users="$ctrl.users"
                full-user-name="$ctrl.fullUserName(user)"
                messages="$ctrl.messages"
                get-message-sender="$ctrl.getMessageSender(message)"
                search-criteria="$ctrl.messageSearchCriteria"
        >

        </messages>


    </div>

</div>