<div class="row msg-compose-container">

    <div class="well msg-controls"></div>

    <div class="msg-recipients">
        <div class="row">
            <div class="col-md-2">
                <div class="well text-center msg-to">
                    <span class="msg-to-text">
                        To
                    </span>
                </div>
            </div>
            <div class="col-md-10">
                <div class="msg-recipients-panel">
                    <table>
                        <tbody>
                        <tr ng-repeat="row in $ctrl.partitionedRecipients">
                            <td ng-repeat="user in row">
                                <user-panel-small
                                        user="user"
                                        remove="$ctrl.removeRecipient(user)"
                                        show-remove-button="true"
                                ></user-panel-small>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div>
                    <input
                            type="text"
                            class="form-control"
                            ng-keyup="$ctrl.onInputKeyUp($event)"
                            ng-model="$ctrl.recipientName"
                            placeholder="Enter recipient name (autocompletes, space for full contact list)"
                    >
                    <div class="user-select-panel-wrapper" ng-show="$ctrl.showSelectPanel">
                        <div class="user-select-panel">
                            <div class="user-select-panel-close-btn" ng-click="$ctrl.refreshInput(true)">
                                x
                            </div>
                            <div style="overflow: scroll">
                                <table>
                                    <tbody>
                                    <tr ng-repeat="row in $ctrl.partitionedContacts">
                                        <td ng-repeat="user in row">
                                            <user-panel-small
                                                    user="user"
                                                    show-remove-button="false"
                                                    on-click="$ctrl.addRecipient(user)"
                                            ></user-panel-small>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="msg-text">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Message text</h3>
            </div>
            <div class="panel-body">
                <textarea
                        class="form-control msg-textarea"
                        rows="10"
                        ng-model="$ctrl.messageText"
                        ng-focus="$ctrl.refreshInput(true)"
                ></textarea>

                <div class="row userinfo-buttons">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <a class="btn btn-warning" ui-sref="mailbox">
                            Cancel
                        </a>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <button class="btn btn-info" ng-click="$ctrl.sendMessage()">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>