<div class="well well-sm msg-controls">
    <button class="btn btn-xs">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>

    <div class="btn-group move-to-folder-btn">
        <button
                type="button"
                class="btn btn-default btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
        >
            Move to
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</div>