<div id="{{$ctrl.modalId}}" class="modal fade mailbox-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content mailbox-modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" aria-hidden="true" class="close">×</button>

                <h4 class="modal-title text-center">{{$ctrl.modalTitle}}</h4>
            </div>
            <div style="font-size: 15px" class="text-center">
                {{$ctrl.bodyText}}
            </div>
            <div class="modal-body text-center">
                <input type="text" class="form-control" ng-model="$ctrl.input">
            </div>
            <div ng-show="$ctrl.error !== ''" style="color: darkred" class="text-center">
                {{$ctrl.error}}
            </div>
            <div class="modal-footer pull-center">
                <button
                        data-dismiss="modal"
                        aria-hidden="true"
                        class="btn"
                        ng-click="$ctrl.cancelAction()"
                >
                    Cancel
                </button>

                <button
                        class="btn {{$ctrl.okButtonStyle}}"
                        ng-click="$ctrl.confirmAction()"
                >
                    Ок
                </button>
            </div>
        </div>
    </div>
</div>