<div class="message well" ng-click="$ctrl.message.show = !$ctrl.message.show">
    <div class="row">
        <user-avatar url="$ctrl.message.userAvatarURL"></user-avatar>
        <div class="col-md-10">
            <div class="message-body-brief">
                {{$ctrl.message.shortText}}
            </div>
        </div>

        <div class="row" ng-if="$ctrl.message.show">
            <div class="col-md-12">
                <div class="message-body">
                    {{$ctrl.message.fullText}}
                </div>
            </div>
        </div>

    </div>
</div>