<div class="welcome">
    <div class="well">
        <h2>
            Welcome to the mailbox app! <br><br><small>Author: Leonid Shifrin</small>
        </h2>

        <div style="margin-top: 30px;margin-left: 30%;" class="text-left">
            <h3 style="margin-bottom: 30px;">Currently you can:</h3>
            <h4> Add, edit and delete contacts</h4>
            <h4> Recover deleted contacts from "Former contacts" list</h4>
            <h4> Send and receive messages</h4>
            <h4> Create and delete folders </h4>
            <h4> Move messages between folders</h4>
            <h4> Search messages and contacts </h4>
        </div>

    </div>

</div>



