<div class="welcome">
    <div class="well">
        <h2>
            Welcome to the mailbox app!
        </h2>

        <div style="margin-top: 30px;margin-left: 30%;" class="text-left">
            <h3 style="margin-bottom: 30px;"><small>Currently you can:</small></h3>
            <h5> Add, edit and delete contacts</h5>
            <h5> Recover deleted contacts from "Former contacts" list</h5>
            <h5> Send and receive messages</h5>
            <h5> Create and delete folders </h5>
            <h5> Move messages between folders</h5>
            <h5> Search messages and contacts </h5>
        </div>

    </div>

</div>



